<?xml version="1.0"?>
<config>
    <modules>
        <Multidots_CompSignup>
            <version>0.1.0</version>
        </Multidots_CompSignup>
    </modules>
    <frontend>
        <routers>
            <compsignup>
                <use>standard</use>
                <args>
                    <module>Multidots_CompSignup</module>
                    <frontName>compsignup</frontName>
                </args>
            </compsignup>
        </routers>
        <layout>
            <updates>
                <compsignup>
                    <file>compsignup.xml</file>
                </compsignup>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <compsignup>
                <class>Multidots_CompSignup_Helper</class>
            </compsignup>
        </helpers>
        <blocks>
            <compsignup>
                <class>Multidots_CompSignup_Block</class>
            </compsignup>
        </blocks>
        <models>
            <compsignup>
                <class>Multidots_CompSignup_Model</class>
                <resourceModel>compsignup_mysql4</resourceModel>
            </compsignup>
            <compsignup_mysql4>
                <class>Multidots_CompSignup_Model_Mysql4</class>
                <entities>		  
                    <compsignup>
                        <table>comp_signup</table>
                    </compsignup>
                </entities>
            </compsignup_mysql4>
        </models>
        <resources>
            <compsignup_setup>
                <setup>
                    <module>Multidots_CompSignup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </compsignup_setup>
            <compsignup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </compsignup_write>
            <compsignup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </compsignup_read>
        </resources>
    </global>
    <admin>
        <routers>
            <compsignup>
                <use>admin</use>
                <args>
                    <module>Multidots_CompSignup</module>
                    <frontName>admin_compsignup</frontName>
                </args>
            </compsignup>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <compsignup module="compsignup">
                <title>CompSignup</title>
                <sort_order>100</sort_order>
                <children>
                    <compsignup module="compsignup">
                        <title>Manage Compsignup</title>
                        <sort_order>0</sort_order>
                        <action>admin_compsignup/adminhtml_compsignup</action>
                    </compsignup>
                </children>
            </compsignup>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <compsignup translate="title" module="compsignup">
                            <title>CompSignup</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <compsignup translate="title">
                                    <title>Manage Compsignup</title>
                                    <sort_order>0</sort_order>
                                </compsignup>
                            </children>
                        </compsignup>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <compsignup>
                    <file>compsignup.xml</file>
                </compsignup>
            </updates>
        </layout>
    </adminhtml>
</config> 