<?xml version="1.0"?>
<config>
	<modules>
		<Helloday_Campaign>
			<version>0.1.0</version>
		</Helloday_Campaign>
	</modules>
	<frontend>
        <routers>
            <campaign>
                <use>standard</use>
                <args>
                    <module>Helloday_Campaign</module>
                    <frontName>campaign</frontName>
                </args>
            </campaign>
        </routers>
        <layout>
            <updates>
                <campaign>
                    <file>campaign.xml</file>
                </campaign>
            </updates>
        </layout>
    </frontend>
	<global>
		<helpers>
			<campaign>
				<class>Helloday_Campaign_Helper</class>
			</campaign>
		</helpers>
		<blocks>
			<campaign>
				<class>Helloday_Campaign_Block</class>
			</campaign>
		</blocks>
		<models>
			<campaign>
				<class>Helloday_Campaign_Model</class>
				<resourceModel>campaign_mysql4</resourceModel>
			</campaign>
			<campaign_mysql4>
				<class>Helloday_Campaign_Model_Mysql4</class>
				<entities>		  
					<campaignlog>
						<table>campaign_log</table>
					</campaignlog>
				</entities>
			</campaign_mysql4>
		</models>
		<resources>
			<campaign_setup>
				<setup>
					<module>Helloday_Campaign</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</campaign_setup>
			<campaign_write>
				<connection>
					<use>core_write</use>
				</connection>
			</campaign_write>
			<campaign_read>
				<connection>
					<use>core_read</use>
				</connection>
			</campaign_read>
		</resources>
		<events>
			<sales_order_place_after>
				<observers>
					<sales_order_place_after_handler>
						<type>model</type>
						<class>campaign/observer</class>
						<method>campaignOrderValidation</method>
					</sales_order_place_after_handler>
				</observers>
			</sales_order_place_after>
		</events>
		<template>
            <email>
                <order_return_email_template translate="label" module="campaign">
                    <label>Order Return</label>
                    <file>feelbettersatisfaction.html</file>
                    <type>text</type>
                </order_return_email_template>
            </email>
        </template>
	</global>
	<admin>
		<routers>
			<admin_campaign>
				<use>admin</use>
				<args>
					<module>Helloday_Campaign</module>
					<frontName>admin_campaign</frontName>
				</args>
			</admin_campaign>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<campaign module="campaign">
				<title>Campaign</title>
				<sort_order>100</sort_order>
				<children>
					<campaignlog module="campaign">
						<title>Manage Campaignlog</title>
						<sort_order>0</sort_order>
						<action>admin_campaign/adminhtml_campaignlog</action>
					</campaignlog>
				</children>
			</campaign>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<campaign translate="title" module="campaign">
							<title>Campaign</title>
							<sort_order>1000</sort_order>
							<children>
								<campaignlog translate="title">
									<title>Manage Campaignlog</title>
									<sort_order>0</sort_order>
								</campaignlog>
							</children>
						</campaign>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<campaign>
					<file>campaign.xml</file>
				</campaign>
			</updates>
		</layout>
	</adminhtml>
</config> 